.dropdown {
  padding: 8px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  }
  
.dropdown:hover {
  background-color: #007bff;
}
  