.home-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg {
    background-image: url("../img/splash.jpeg");
  
    height: 100%; 
  
    /* Center and scale */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  