<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <title>Shelter & Emergency Relief Model</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">StormShelters</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="city-model.html">Cities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shelter-model.html">Shelters & Emergency Relief</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="storm-model.html">Disasters</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1 class="text-center">Shelter & Emergency Relief Model</h1>
    <p>Total Instances: 3</p>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 card">
        <img class="card-img-top" src="./static/img/shelter1.jpeg" alt="Women & Family Development Center">
        <div class="card-body">
        <h4 class="card-title">Women & Family Development Center</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: Houston</li>
          <li class="list-group-item">Type: Women's Shelter</li>
          <li class="list-group-item">Beds: 200</li>
          <li class="list-group-item">Ages: All</li>
          <li class="list-group-item">On-site Medical Clinic? No</li>
        </ul>
        <a href="shelter1.html" class="btn btn-primary">Learn more</a>
      </div>
      </div>

      <div class="col-sm-4 card">
        <img class="card-img-top" src="./static/img/shelter2.jpg" alt="The Salvation Army Greater Houston Area Command">
        <div class="card-body">
        <h4 class="card-title">The Salvation Army Greater Houston Area Command</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: Houston</li>
          <li class="list-group-item">Type: Emergency</li>
          <li class="list-group-item">Beds: 450</li>
          <li class="list-group-item">Ages: All</li>
          <li class="list-group-item">On-site Medical Clinic? No</li>
        </ul>
        <a href="shelter2.html" class="btn btn-primary">Learn more</a>
      </div>
      </div>

      <div class="col-sm-4 card">
        <img class="card-img-top" src="./static/img/shelter3.jpeg" alt="Cypress">
        <div class="card-body">
        <h4 class="card-title">Cornerstone Community</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">City: Houston</li>
          <li class="list-group-item">Type: Men's Shelter</li>
          <li class="list-group-item">Beds: 200</li>
          <li class="list-group-item">Ages: 18+</li>
          <li class="list-group-item">On-site Medical Clinic? Yes</li>
        </ul>
        <a href="shelter3.html" class="btn btn-primary">Learn more</a>
      </div>
      </div>

    </div>
  </div>

  </body>

</html>