<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <title>Severe Storms, Tornadoes, and Flooding</title>
  </head>
  
  <body>
    {% include 'navbar.html' %}
    <h1 class="text-center">Severe Storms, Tornadoes, and Flooding</h1>
    <!-- data.shelter not correct?-->
    <script>
        fetch('../static/storms_data.json')
          .then(response => response.json())
          .then(data => {
              var storm_1 = data.storm.find(storm => storm.name === 'Severe Storms');
              document.getElementById("startDate").textContent = "Began: " + storm_1.startDate;
              document.getElementById("endDate").textContent = "Ended: " + storm_1.endDate;
              document.getElementById("type").textContent = "Type: " + storm_1.type;
              document.getElementById("totalAid").textContent = "Total FEMA Aid: " + storm_1.totalAid;
  
          })
  
          .catch(error => console.error('Error:', error));
      </script>

  <div class="container" style="display: flex; justify-content: center">
    <!--Bootstrap carousel test, from Bootstrap documentation-->
    
    <div style="width: 800px; height: 450px" id="carouselExampleControls" class="carousel slide active" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/static/img/storm1_1.jpg" alt="First slide"      width=800px height="450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
      </div>
    
  </div>

  <div class="instanceText" style="padding-left: 20px" id="instanceInformationList">
    <h3 class="text-left">About: </h3>
    <p id="startDate">Ended: </p>
    <p id="endDate">Type: </p>
    <p id="type">Type: </p>
    <p id="totalAid">Aid: </p>
  </div>
</body>
</html>