<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <title>Storms Model</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1 class="text-center">Storms Model</h1>

  <div class="container">
    <div class="row">

      <div class="col-sm-4 card">
        <img class="card-img-top" src="/static/img/storm1_1.jpeg" alt="Houston October 2002 Rainstorms">
        <div class="card-body">
        <h4 class="card-title">Severe Storms, Tornadoes and Flooding</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">October 2002</li>
          <li class="list-group-item">$115,969,311.20 in aid</li>
        </ul>
        <a href="{{url_for('shelter1')}}" class="btn btn-primary">Learn more</a>
      </div>
      </div>

      <div class="col-sm-4 card">
        <img class="card-img-top" src="/static/img/storm2_1.jpg" alt="Houston Hurricane Ivan">
        <div class="card-body">
        <h4 class="card-title">Hurricane Ivan</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">October 2002</li>
          <li class="list-group-item">$115,969,311.20 in aid</li>
        </ul>
        <a href="{{url_for('storm2')}}" class="btn btn-primary">Learn more</a>
      </div>
      </div>

      <div class="col-sm-4 card">
        <img class="card-img-top" src="/static/img/storm3_1.jpeg" alt="Houston Hurricane Rita">
        <div class="card-body">
        <h4 class="card-title">Hurricane Rita</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">September 2007</li>
          <li class="list-group-item">$1,237,011,539.98 in aid</li>
        </ul>
        <a href="{{url_for('storm3')}}" class="btn btn-primary">Learn more</a>
      </div>
      </div>

    </div>
  </div>

  </body>

</html>